<%=  stylesheet_link_tag 'vue_event'%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<style>
  body{
    background-color: #e3ebee;
    padding-top: 90px;
  }
</style>
<body>
<div class="container bootstrap snippet">
  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-body">
      <img class="icone" style="float:left" src=<%= asset_path 'esport.jpeg' %>  width="60" height="60">
    <br>
      <div>
        <h3>L'avenir de l'e-sport</h3>
        <p>Riot france<br> CCI Grenoble 38000</p>
      </div>
  <hr>
      <p class="text-justify">
      <h4><u>Présentation de l'évènement :</u></h4><br>
      La coupe représente une lutte acharnée, une ascension vers le titre de champion et la gloire d’un titre auxquelles de très nombreuses équipes ont participé depuis
      les tournois qualificatifs de septembre. Les équipes Millenium et LDLC ont tiré leur épingle du jeu et disputeront le match décisif ce samedi.
      </p>
      <br>
      <p class="text-justify">
      <h4><u>OBJECTIF : CHAMPION DE FRANCE !</u></h4><br>
      Le titre est en jeu. Une ligne prestigieuse sur le palmarès des joueurs et surtout un symbole fort d’un haut fait accompli. C’est l’en
      semble du personnel des clubs qui frissonera ce weekend : joueurs, coach, managers, administration… autant de personnes qui oeuvrent toute la saison au succès des équipes.

      Un mot de Bora “Yellowstar” KIM, manager du PSG eSports et ex-joueur professionnel :
      “Tous les joueurs français talentueux qui aspirent un jour à devenir joueur professionnel devront passer par le circuit français pour se
      mesurer aux autres participants dans un premier temps et goûter à la compétition pour ensuite accéder au Challenge France.
      </p>
    </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
      <div>
        <h3>Type d'évènement :</h3>
        <p>E-Sport</p>
        <h3>Date & Heure</h3>
        <p>18/12/2016, 18-22h</p>
        <h3>Entrée et tarif</h3>
        <p>Entrée 10€ : <a href="https://fr.wikipedia.org/wiki/Sport_%C3%A9lectronique">www.esport-tomorrow.com</a></p>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-lg-offset-3">
      <button type="submit" class="btn btn-primary">Participer / S'inscrire</button>
      <a href="../carriere"><button id="plus" type="submit" class="btn btn-primary">Retour</button></a>
    </div>
  </div>
</div>
</div>
</body>