<div class="body-pref">

  <header class="panelpanel-default">
    <div class="panel-body jumbotron text-justify">

      <h3>Paramètrez vos préférences afin que nous puissons vous proposer les meilleurs évènements autour de vous.
      </h3>

    </div>
  </header>


  <div class="container">
    <form>
      <fieldset>
        <div class="form-group ">
          <label for="formGroupExampleInput">Tout d'abord nous avons besoin de connaître votre mobilité : </label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Région, département, ville">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Quel sujet vous intéresse ?</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Jeux vidéos, développement web">
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput2">A quel type d'événement voulez vous assister ?</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Conférence, Afterwork, Atlier, Speed recruiting..">
        </div>



        <button type="submit" class="btn btn-default btn-primary">Enregistrer</button>
      </fieldset>
    </form>
  </div>




</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>