<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'web.jpeg' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">Conférence sur le web de demain</h3><br>
        <p>Lieux : Salle polyvalente, Vitrolles 13127</p>
        <p>Date & heure : 15/12/2016 à 17h</p>
        <p>Organisé par : CNRS</p>
        <p>Entrée libre, places limitées</p>
        <p class="detail"><a href="#" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info" role="button">Supprimer</a></p>
        <hr>
        <p class="small">Publiée le 07-12-2016</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'esport.jpeg' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">L'avenir de l'e-sport</h3><br>
        <p>Lieux : CCI Grenoble 38000</p>
        <p>Date & heure : 18/12/2016, 18-22h</p>
        <p>Organisé par : Riot France</p>
        <p>Entrée 10€ : <a href="https://fr.wikipedia.org/wiki/Sport_%C3%A9lectronique">www.esport-tomorrow.com</a></p>
        <p class="detail"><a href="#" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info" role="button">Supprimer</a></p>
        <hr>
        <p class="small">Publiée le 05-12-2016</p>
      </div>
    </div>
  </div>
</div>