<%=  stylesheet_link_tag 'vue_offre'%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<style>
  body{
    background-color: #e3ebee;
    padding-top: 90px;
  }
</style>
<body>
<div class="container bootstrap snippet">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="icone" style="float:left" src=<%= asset_path 'assystem.png' %>  width="60" height="60">
        <br>
        <div>
          <h3>Technicien informatique</h3>
          <p>Assystem France <br> Lieux : Vitrolles, 13127 <br> Type de contrat : CDI</p>
        </div>
        <hr>
        <p class="text-justify">
        <h4><u>Présentation de l'entreprise :</u></h4><br>
        Assystem France est une société de service créee en 1975 qui oeuvre dans plusieurs domaines tels que le ferrovière,
        l'aéronautique, le nucléaire etc...
        </p>
        <br>
        <p class="text-justify">
        <h4><u>Votre mission au sein d'Assystem :</u></h4><br>
        En tant que technicien informatique vous intégrerez nos équipes chargées du développement de nos applications internes.<br>
        Vous travaillerez sur un environnement Linux. Vos missions seront essentiellement les suivantes :
        <ul>
          <li>Rédaction des spécifications techniques</li>
          <li>Étude de faisabilité</li>
          <li>Développement des applications</li>
        </ul>
        Un soin particulier devra être apporté au design logiciel de cet outil et à
        la compréhension globale des échanges, afin de ne pas apporter de perturbation dans les performances et l’efficacité globale.<br><br>
        Technologies : <br>Android, IOS, C/swift/Java, design logiciel
        Le petit plus : connaissance du monde du paiement et ou des protocoles séries/USB
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <h3>Secteur d'activité</h3>
          <p>Aeronautique</p>
          <h3>Expérience exigée</h3>
          <p>Débutant</p>
          <h3>Niveau d'étude</h3>
          <p>Bac +2 Informatique, Réseau</p>
          <br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Participer / S'inscrire</button>
        <a href="../carriere"><button id="plus" type="submit" class="btn btn-primary">Retour</button></a>
      </div>
    </div>
  </div>
</div>
</body>

