

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'assystem.png' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">Assystem France</h3><br>
        <p>Intitulé : Technicien informatique</p>
        <p>Lieux : Vitrolles, 13127</p>
        <p>Type de contrat : CDI</p>
        <p class="detail"><a href="../vue_offre" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info">Sauvegarder</a></p>
        <hr>
        <p class="small">Publiée le 03-12-2016</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'blizzard.jpeg' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">Blizzard</h3><br>
        <p>Intitulé : Designer 3D</p>
        <p>Lieux : Paris, Ile de France</p>
        <p>Type de contrat : CDI</p>
        <p class="detail"><a href="#" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info" role="button">Sauvegarder</a></p>
        <hr>
        <p class="small">Publiée le 05-12-2016</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'dassault.png' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">Dassault Aviation</h3><br>
        <p>Intitulé : Ingénieur sécurité système embarqués</p>
        <p>Lieux : Istres</p>
        <p>Type de contrat : CDI</p>
        <p class="detail"><a href="#" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info" role="button">Sauvegarder</a></p>
        <hr>
        <p class="small">Publiée le 03-12-2016</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <span class="media-left"><img class="img-circle" src=<%= asset_path 'bnp.jpeg' %>  width="60" height="60"></span>
        <h3 class="media-right media-middle">BNP Paribas</h3><br>
        <p>Intitulé : Chef de projet data-scientist</p>
        <p>Lieux : Paris, la défense</p>
        <p>Type de contrat : CDI</p>
        <p class="detail"><a href="" class="btn btn-info" role="button">Détail</a>
          <a href="#" class="btn btn-info" role="button">Sauvegarder</a></p>
        <hr>
        <p class="small">Publiée le 03-12-2016</p>
      </div>
    </div>
  </div>
</div>

